#box{
    border:1px solid #ddffcc;
    border-radius :20px;
    width:500px;
    margin:20px auto;
    padding:20px;
    text-align:center;
    background : rgb(8, 6, 6);
  }
  
  #tempoCronometro{ 

    color:rgb(21, 236, 75); 
    font-size:60px; 
    margin:10px auto;
    border : 5px solid rgb(64, 248, 88);
    overflow:hidden;
    position:relative;
    width:200px;
    height:200px;
    position:relative;
   
  }
  
  #time{

    margin-top:80px;
    z-index : 1;
    position:relative;
  }
  
  #card{
    
    background : #ddffcc;
    height: 0px;
    width: 200px;
    position:absolute;
    /* começar de baixo pra cima */
    bottom:0;
  }
  
   #comecar{ 

    border:none; 
    background: rosybrown; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
  }
  
  #intervalo{
    border:none; 
    background : #0c0;
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
  }
  

 #parar{

  border:none; 
    background : #f00;
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
  }
  
